<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">MY COOKBOOK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recettes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories" routerLinkActive="active">Catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" routerLinkActive="active">Profil</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/register" class="btn btn-link" *ngIf="!isAuthenticated">
          S'inscrire
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLink="/login" *ngIf="!isAuthenticated">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary text-white" (click)="handleLogout()" *ngIf="isAuthenticated">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
