<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
  <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
  <div class="container">
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a routerLink="/" class="navbar-brand">
        My Cookbook
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-uppercase">
        <li>
          <a routerLink="/recipes">Recettes</a>
        </li>
        <li>
          <a routerLink="/categories">Catégories</a>
        </li>
        <li>
          <a routerLink="/profile/edit">Profil</a>
        </li>
        <li>
          <a routerLink="/register" class="btn btn-simple btn-danger" *ngIf="!isAuthenticated">Inscription</a>
        </li>
        <li>
          <a routerLink="/login" class="btn btn-fill btn-danger" *ngIf="!isAuthenticated">Connexion</a>
        </li>
        <li>
          <a routerLink="/login" class="btn btn-fill btn-danger" *ngIf="isAuthenticated"
            (click)="handleLogout()">Déconnexion</a>
        </li>


      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">MY COOKBOOK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recettes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories" routerLinkActive="active">Catégories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile" routerLinkActive="active">Profil</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/register" class="btn btn-link" *ngIf="!isAuthenticated">
          S'inscrire
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" routerLink="/login" *ngIf="!isAuthenticated">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary text-white" (click)="handleLogout()" *ngIf="isAuthenticated">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav> -->
