<div class="section section-header-blog">
  <div class="parallax filter filter-color-black">
    <div class="image" style="background-image:url('assets/images/recipe-header-2.jpg')">
    </div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h1>Recettes</h1>
          <h3>“La vraie cuisine est une forme d’art. Un cadeau à partager.”</h3>
          <a type="button" class="btn btn-white btn-fill" routerLink="/recipes/create"><i class="fas fa-plus"></i>
            Ajouter</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- FIN DU HEADER -->

<div class="section">
  <div class="container">
    <div class="row display-flex">
      <div class="col-md-4" *ngFor="let r of getRecipesForCurrentPage()">
        <div class="card card-blog card-plain">
          <a routerLink="/recipes/view/{{ r.id }}" class="header" *ngIf="r.illustration">
            <img src="{{ r.illustration }}" class="image-header" alt="{{ r.title }}">
          </a>
          <div class="content">
            <h6 class="card-date">{{ r.createdAt | date: "dd/MM/yyyy" }}</h6>
            <a routerLink="/recipes/view/{{ r.id }}" class="card-title">
              <h3>{{ r.title }}</h3>
            </a>
            <div class="line-divider line-danger"></div>
            <h6 class="card-category">
              <span *ngFor="let category of r.categories" class="tags">{{ category.name }}</span>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-12" *ngIf="recipes.length === 0">
        <div class="card card-blog card-plain">
          <div class="content">

            <h3>Pas encore de recette ?</h3>

            <div class="line-divider line-danger"></div>
            <h6 class="card-category">
              <a routerLink="/recipes/create" class="btn btn-danger">Créez-en une !</a>
            </h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-pagination [currentPage]="currentPage" [items]="recipes.length" [itemsPerPage]="itemsPerPage"
  (pageChanged)="currentPage = $event" *ngIf="itemsPerPage < recipes.length"></app-pagination>
<!-- FIN DES CARTES DE RECETTES -->
