<div class="section section-header-blog">
  <div class="parallax filter filter-color-black">
    <div class="image" style="background-image:url('assets/images/header-categories.jpg')">
    </div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <h1>Catégories</h1>
          <h3>"Bien manger c'est le début du bonheur"</h3>

        </div>
      </div>

    </div>
  </div>

</div>

<div class="section section-card-blog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="d-flex justify-content-around">
          <a *ngFor="let c of categories" routerLink="/categories/{{ c.id }}" class="btn btn-fill btn-default mr-2">
            {{ c.name }}
          </a>
        </nav>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
