angular-editor {
  margin-bottom: 150px;
}

div.angular-editor-textarea {
  background-color: white !important;
  resize: none !important;
}

input[type=checkbox] {
  margin-right: 5px;
  margin-left: 10px;
}
