<div class="section section-our-clients">
  <div class="container">
    <nav class="nav nav-text">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="btn btn-simple btn-danger" (click)="handlePageClick(currentPage - 1)">
            <i class="fas fa-caret-left"></i>
          </button>
        </li>
        <li class="btn btn-simple btn-danger" [class.active]="page === currentPage" *ngFor="let page of pages">
          <button class="btn btn-simple btn-danger" (click)="handlePageClick(page)">
            {{ page }}
          </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === pages.length">
          <button class="btn btn-simple btn-danger" (click)="handlePageClick(currentPage + 1)">
            <i class="fas fa-caret-right"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
