<div class="section section-our-clients">
  <div class="container">
    <div class="title-area">
      <h5 class="text-gray">Dans la catégorie</h5>
      <h2>{{ categoryName }}</h2>
      <div class="separator separator-danger">✻</div>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let r of recipes">
        <div class="card card-blog">
          <a routerLink="/recipes/view/{{ r.id }}" class="header">
            <img src="{{ r.illustration }}" class="image-header" alt="{{ r.title }}">
          </a>
          <div class="content">
            <div class="circle-black">
              <div class="circle">
                <div class="date-wrapper">
                  <span class="date">{{ r.createdAt | date:'dd'}}</span>
                  <span class="month">{{ r.createdAt | date:'MM/yyyy'}}</span>
                </div>
              </div>
            </div>
            <a routerLink="/recipes/view/{{ r.id }}" class="card-title">
              <h3>{{ r.title }}</h3>
            </a>
            <div *ngFor="let c of r.categories">
              <h6 class="card-category text-warning">{{ c.name }}</h6>
            </div>
            <p class="text-description text-gray">{{ r.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="recipes.length === 0">
      <div class="card card-blog card-plain">
        <div class="content">

          <h3>Pas encore de recette dans cette catégorie</h3>

          <div class="line-divider line-danger"></div>
          <h6 class="card-category">
            <a routerLink="/recipes/create" class="btn btn-danger">Créez-en une !</a>
          </h6>
        </div>
      </div>
    </div>
  </div>


  <app-pagination [currentPage]="currentPage" [items]="recipes.length" [itemsPerPage]="itemsPerPage"
    (pageChanged)="currentPage = $event" *ngIf="itemsPerPage < recipes.length"></app-pagination>
