@import url('https://bootswatch.com/4/minty/bootstrap.min.css');
@import '~ngx-toastr/toastr';

body {
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/* .angular-editor-textarea,
.angular-editor,
.angular-editor-toolbar {
  background-color: #FFFFFF !important;
} */
