<div class="container mt-3" *ngIf="recipe">
  <h1>{{this.recipe.title}}</h1>
  <div class="row mt-4">
    <div class="col">

      <a routerLink="/recipes/edit/{{ recipe.id }}" class="btn btn-secondary">
        Editer
      </a>
      <a (click)="handleDelete(recipe)" class="btn btn-danger ml-1 text-white">Supprimer</a>
    </div>
  </div>
  <div class="row mt-3" *ngIf="recipe">
    <div class="col-sm-12 col-m-12 col-lg-5 border">
      <img src="{{ recipe.illustration }}" alt="{{recipe.title}}" width="100%">
      <h3>Ingrédients</h3>
      <div [innerHTML]="recipe.ingredients"></div>
      <h3>Ustensiles</h3>
      <div [innerHTML]="recipe.utensils"></div>
    </div>
    <div class="col-sm-12 col-m-12 col-lg-7 border" *ngIf="recipe">
      <h3>Description</h3>
      <div [innerHTML]="recipe.description"></div>
      <h3>Recette</h3>
      <div [innerHTML]="recipe.content"></div>
    </div>
  </div> <!-- Fin de row -->
</div>
